html,
body {
  margin: 0;
}

/* fonts */
/* Roboto */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* merrywether */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&family=Roboto:wght@400;500;700&display=swap');

.NoScrollBar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.NoScrollBar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}


section {
  height: 100vh;
  scroll-snap-type: y mandatory;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
}

#scroller {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;

}

#scroll-content-wrapper {

  min-height: 100vh;
  overflow: hidden;
  position: relative;
  background: #000000;
}

#scroll-content {
  width: 100%;
}



/* nav bar css */
.sidenav {

  display: inline-block;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;

  /* add space on the right side */
  /* center vertically */
  top: 50%;
  transform: translateY(-50%);
}


.sidenav a {

  text-decoration: none;
  font-size: 30px;
  color: #000000;
  display: block;
  margin-bottom: 10px;
  /* add margin between items */
}

@media (max-width: 767px) {
  .sidenav {
    display: none;
  }
}



.scroll-T {
  margin-top: 10%;
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  height: 50%;
  background: rgb(255, 255, 255);
  overflow: scroll;
}



.scroll-T.mask-removed:after {
  /* Remove the mask */
  -webkit-mask-image: none;
  mask-image: none;
}

.scroll-T::-webkit-scrollbar {
  width: 2px;
  background-color: transparent transparent;

}

.scroll-T::-webkit-scrollbar-thumb {
  width: 1px;
  background: radial-gradient(circle, rgba(212, 155, 180, 1) 0%, rgba(0, 0, 0, 1) 40%);
}




.scroll-T::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}



/* align-items: center;
justify-content: center;
text-align: center; */

.has-dropcap:first-letter {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  float: left;
  font-size: 4rem;
  line-height: 0.65;
  margin: 0.1em 0.1em 0.2em 0;
}


.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: var(--bs-nav-pills-link-active-color);
  background-color: #363636 !important;
}



/* background with text on top that adjusts with screen size to much styling*/
.bg-image {
  height: 100vh;
  display: block;
  justify-content: center;
  align-items: center;

}

.bg-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.bg-image img {
  min-height: 100%;


  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  object-fit: cover;
}

.bg-image .gradient-overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
}

.bg-titled {
  position: absolute;
  color: #ffffff;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;

}

.bg-image-titled {
  height: 100vh;
  display: block;
  justify-content: center;
  align-items: center;

}

.bg-image-titled img {
  min-height: 100%;


  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  object-fit: cover;
}

.bg-image-titled::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(34, 193, 195, 0) 6%, rgba(0, 0, 0, 0.8855917366946778) 100%);
}

.text-overlay {
  position: absolute;
  color: #ffffff;
  top: 50%;
  /* Center it vertically */
  left: 0;
  transform: translateY(-50%);
  /* Adjust the position to truly center it vertically */
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  /* Align text to the left */
  align-items: center;
  width: 100%;
  /* Give it full width so the content can be aligned to the left */
}


@media (max-width: 800px) {
  .bg-image {
    position: static;
    height: auto;
    display: block;
  }

  .bg-image::after {
    display: none;
  }

  .bg-image img {
    position: static;
    width: 100%;
    height: auto;
  }

  .text-overlay {
    position: static;
    transform: none;
  }

  .scroll-T-bg {
    margin-top: 10%;
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    height: 80%;
    background: rgb(0, 0, 0);
    overflow: scroll !important;
  }

  .scroll-T-bg::-webkit-scrollbar {
    width: 0px;
  }


  .scroll-T-bg::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  }


  .scroll-T-bg::-webkit-scrollbar {
    width: 2px;
    background-color: transparent transparent;

  }

  .scroll-T-bg::-webkit-scrollbar-thumb {
    width: 1px;
    background: radial-gradient(circle, rgba(212, 155, 180, 1) 0%, rgba(0, 0, 0, 1) 40%);
  }

  .scroll-T-bg.hide-gradient::after {
    display: none;
  }
}



.no-gradient {
  -webkit-mask-image: none;
  mask-image: none;
}




.video-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

video#video-background {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30%;
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  /* Text shadow for better contrast */

}

.content.fade-in {
  animation: fadeIn 1s ease-in-out;
}

.scroll-arrow {
  font-size: 2rem;
  margin-top: 1rem;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.scroll-arrow.visible {
  opacity: 1;
}
