*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.image-blurred-edge {
    background-image: url('https://images.squarespace-cdn.com/content/v1/5fd26ab6b660304977d08e84/0a981397-2b05-4a37-895d-d52298c62c23/Grzybowski_Project4-741.jpg?format=1000w');
    height: 50vh;
    background-position: center;
  background-repeat: no-repeat;
    /* you need to match the shadow color to your background or image border for the desired effect*/
    box-shadow: 0 0 8px 3px #575c66 inset;

}